<div class="flex justify-between mb-8 border-teal-400 border-b-2 pb-4">
    <!-- Muted teal border color -->
    <div class="border-teal-400 border-r-2 pr-4">
        <!-- Muted teal border color -->
        <div class="text-4xl font-semibold text-blue-400">
            <!-- Muted blue text color -->
             Home Team
        </div>
    </div>
    <div class="ml-4">
        <div class="text-4xl font-semibold text-pink-400">
            <!-- Vibrant pink text color -->
             Guest Team
        </div>
    </div>
</div>
