---
// This component will make api calls to a backend server
// to update the count for the team it receives as a prop
---

<div class="flex-row mt-8">
    <button
        class="text-green-400 bg-gray-800 border-2 border-green-400 hover:shadow-md hover:text-white hover:bg-green-400 hover:shadow-black font-bold py-2 px-4 transition duration-300 ease-in-out"
        >+1</button
    >
    <button
        class="text-red-400 bg-gray-800 border-2 border-red-400 hover:shadow-md hover:text-white hover:bg-red-400 hover:shadow-black font-bold py-2 px-4 ml-2 transition duration-300 ease-in-out"
        >-1</button
    >
</div>
