<div class="flex justify-center mt-8">
    <button
        class="text-white bg-red-400 py-2 px-3 transform hover:scale-110 hover:skew-x-6 transition duration-300"
        >RESET</button
    >
</div>
